version: '3.8'

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./binds/conf.d/:/etc/nginx/conf.d/:ro
      - ./binds/root/:/var/www/:ro
      - ./binds/certs/:/etc/nginx/ssl/:ro
      - ./binds/nginx.conf:/etc/nginx/nginx.conf:ro

  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./binds/root/certbot/:/var/www/certbot/:rw
      - ./binds/certs/:/etc/letsencrypt/:rw
