---
{{ ansible_managed | comment }}

- Developer:
    - Github:
        - icon: github
          abbr: GH
          href: https://github.com/dominique57

- Social:
    - Linkedin:
        - icon: linkedin
          abbr: LN
          href: https://linkedin.com/in/dominique-michel-it