---
{{ ansible_managed | comment }}

- Applicative:
    - Whoami:
        icon: mdi-cloud-question
        href: https://whoami.aloeil.duckdns.org
        server: my-docker
        container: whoami

- Network:
    - Traefik:
        icon: traefik
        href: http://192.168.1.99:8080
        description: Reverse proxy (local)
        server: my-docker
        container: traefik
        showStats: true
        widget:
            type: traefik
            url: http://192.168.1.99:8080

    - Wireguard:
        icon: wireguard
        href: https://wg.aloeil.duckdns.org
        description: Secure VPN connection
        server: my-docker
        container: wireguard

- Utility:
    - Upsnap:
        icon: upsnap
        href: http://192.168.1.99:8090
        description: WOL management (local)
        server: my-docker
        container: upsnap