{{ ansible_managed | comment }}

version: "3.6"

networks:
  default:
    name: 'traefik'

services:
  traefik:
    image: "traefik:v3.1"
    restart: unless-stopped
    container_name: "traefik"
    environment:
      DUCKDNS_TOKEN: '{{ vault.duckdns.token }}'
    command:
      - "--accesslog=true"
      - "--log.level=DEBUG"

      - "--global.checkNewVersion=true"
      - "--global.sendAnonymousUsage=false"

      - "--api.insecure=true"
      - "--api.dashboard=true"
      - "--api.debug=true"
      - "--api.disableDashboardAd=true"

      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"

      # Entrypoints
      - "--entryPoints.http.address=:80"
      - "--entryPoints.https.address=:443"
      - "--entryPoints.http.http.redirections=:80"
      - "--entrypoints.http.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.http.http.redirections.entryPoint.to=https"

      # Cert resolver
      - "--certificatesresolvers.cert_tls.acme.tlschallenge=true"
      - "--certificatesresolvers.cert_tls.acme.email={{ vault.cert.email }}"
      - "--certificatesresolvers.cert_tls.acme.storage=/certs/acme.tls.json"

      - "--certificatesresolvers.cert_dns_duckdns.acme.dnschallenge.provider=duckdns"
      - "--certificatesresolvers.cert_dns_duckdns.acme.email={{ vault.cert.email }}"
      - "--certificatesresolvers.cert_dns_duckdns.acme.storage=/certs/acme.dns.duckdns.json"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "/compose/traefik/bind/certs:/certs"

  whoami:
    image: "traefik/whoami"
    restart: unless-stopped
    container_name: "simple-service3"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.entrypoints=https"
      - "traefik.http.routers.whoami.rule=Host(`whoami.aloeil.duckdns.org`)"
      - "traefik.http.routers.whoami.tls.domains[0].main=*.aloeil.duckdns.org"
      - "traefik.http.routers.whoami.tls.certresolver=cert_dns_duckdns"
